@import "../../bower_components/normalize.css/normalize.css";
@import "lib/base";

html {
	text-size-adjust: 100%;
	height: 100%;
	font-size: 16px;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
}
* {
	margin: 0;
	outline: none;
}
*, *::after, *::before {
	box-sizing: border-box;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
}
a {
	text-decoration: none;
}
.viewport {
	height: 100%;
}
.out {
	background-color: $white;
	@include x-rem(margin, 0 auto -100px);
	.push {
		@include x-rem(height, 100px);
	}
	min-height: 100%;
}
.overlay {
	overflow: hidden;
}
.footer {
	@include x-rem(margin, -100px auto 0);
	@include x-rem(height, 100px);
	@include x-rem(padding, 40px 0);
	width: 100%;
	background-color: $footerColor;
	position: relative;
	z-index: 3;
	.copyright {
		font-family: $M500;
		@include x-rem(font-size, 12px);
		text-transform: uppercase;
		color: $white;
		float: left;
		@include x-rem(letter-spacing, 0.2px);
		@include x-rem(margin-top, 5px);
	}
	.developer {
		font-family: $M500;
		@include x-rem(font-size, 12px);
		color: $white;
		float: right;
		@include x-rem(margin-top, 5px);
		a {
			color: $white;
		}
	}
	.overlay {
		overflow: hidden;
		text-align: center;
		.callback {
			cursor: pointer;
			@include x-rem(margin-left, -24px);
			span {
				color: $white;
				font-family: $M900;
				text-transform: uppercase;
				position: relative;
				@include x-rem(font-size, 12px);
				@include x-rem(letter-spacing, 1.5px);
				.icon {
					@include x-rem(width, 21px);
					@include x-rem(height, 24px);
					background-image: url(../img/icons/callback.png);
					background-size: cover;
					display: inline-block;
					vertical-align: middle;
					@include x-rem(margin-right, 15px);
				}
			}
		}
	}
}
.header {
	@include x-rem(padding-top, 35px);
	position: relative;
	z-index: 4;
	.logo {
		@include x-rem(width, 118px);
		@include x-rem(height, 118px);
		background-image: url(../img/svg/happy.svg);
		float: left;
		background-size: cover;
	}
	.overlay {
		text-align: center;
		overflow: hidden;
	}
	.nav {
		display: inline-block;
		@include x-rem(margin, 33px 0 0 32px);
		.nav-header {
			font-size: 0;
			li {
				display: inline-block;
				&:not(:last-child) {
					@include x-rem(margin-right, 32px);
				}
				a {
					font-family: $M500;
					@include x-rem(font-size, 14px);
					text-transform: uppercase;
					line-height: 28px;
					border-bottom: 1px solid transparent;
					@include x-rem(padding, 4px 0);
					color: $turq;
					&.active {
						border-color: $yellow;
					}
				}
			}
		}
	}
}
.social {
	float: right;
	@include x-rem(margin-top, 34px);
	.social-item {
		@include x-rem(width, 28px);
		@include x-rem(height, 28px);
		float: left;
		border-radius: 100%;
		&:not(:first-child) {
			@include x-rem(margin-left, 12px);
		}
		.icon {
			width: 100%;
			height: 100%;
			display: block;
			path {
				fill: #A7A5AA;
			}
		}
	}
}
.l {
	@include x-rem(width, 1158px);
	margin: 0 auto;
	@include clearfix;
}
.wrapper {
	position: relative;
	z-index: 3;
	overflow: hidden;
}
#index {
	.wrapper {
		@include x-rem(max-width, 964px);
		margin: 0 auto;
		.l {
			width: 100%;
		}
	}
}
.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.slide-bg {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 100%;
	}
	.swiper-pagination {
		top: 45%;
		@include x-rem(right, 50px);
		transform: translateY(-50%);
		left: auto;
		bottom: auto;
		width: auto;
		.swiper-pagination-bullet {
			display: block;
			background-color: transparent;
			opacity: 1;
			border: 1px solid rgba(0,0,0,.3);
			transition: border-color 0.3s ease, background-color 0.3s ease;
			&:not(:last-child) {
				margin-bottom: 22px;
			}
			&.swiper-pagination-bullet-active {
				border-color: $turq;
				background-color: $turq;
			}
		}
	}
}
.lead {
	@include x-rem(max-width, 964px);
	margin: 3% auto 0;
	text-align: center;
	.title {
		font-family: $M300;
		@include x-rem(font-size, 40px);
		color: $text;
		text-transform: uppercase;
		display: inline-block;
		text-transform: uppercase;
		font-weight: normal;
		@include x-rem(letter-spacing, 1.9px);
		@include x-rem(margin, 0 0 50px 0);
	}
	.concept {
		@include x-rem(width, 307px);
		display: inline-block;
		a {
			width: 100%;
			@include x-rem(height, 70px);
			@include x-rem(line-height, 70px);
			@include x-rem(border-radius, 35px);
			background-color: $yellow;
			font-family: $M900;
			text-transform: uppercase;
			@include x-rem(font-size, 12px);
			color: $brown;
			display: inline-block;
			@include x-rem(letter-spacing, 1.9px);
		}
	}
}
.title {
	font-family: $M300;
	@include x-rem(font-size, 40px);
	color: $text;
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: normal;
	@include x-rem(letter-spacing, 1.9px);
	text-align: center;
	@include x-rem(margin, 0 0 35px 0);
	line-height: 1;
}
.grid {
	.grid-nav {
		@include x-rem(width, 768px);
		@include x-rem(margin, 0 auto 50px);
		text-align: center;
		.button {
			display: inline-block;
			@include x-rem(padding, 4px 0);
			border-bottom: 1px solid transparent;
			color: $gridNav;
			font-family: $M700;
			text-transform: uppercase;
			@include x-rem(font-size, 12px);
			cursor: pointer;
			letter-spacing: 2.1px;
			margin-bottom: 15px;
			&:not(:first-child) {
				@include x-rem(margin-left, 9px);
			}
			&.is-active {
				border-color: $yellow;
				font-family: $M900;
				color: $text;
			}
		}
	}
	.grid-layout {
		@include clearfix;
		position: relative;
		@include x-rem(margin, 0 0 95px);
		width: 100%;
		.grid-columns{
			width: 25%;
			float: left;
		}
		.grid-gallery {
			display: block;
			padding: 1px;
			width: 100%;
			transition: box-shadow 0.3s ease, z-index 0.3s ease;
			z-index: 2;
			position: relative;
			&:hover {
				transition: box-shadow 0.3s ease, z-index 0.3s ease;
				box-shadow: 0px 5px 30px 0px rgba(74, 63, 87, 0.24);
				z-index: 4;
				img {
					filter: saturate(1);
				}
			}
			img {
				display: block;
				width: 100%;
				filter: saturate(0);
				transition: filter 0.3s ease;
			}
		}
	}
}
.fancybox-close {
	background-image: url(../img/icons/close.png);
}
.fancybox-prev {
	background-image: url(../img/icons/arrow-left.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.fancybox-next {
	background-image: url(../img/icons/arrow-right.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.grid-row {
	@include clearfix;
}
.article-item {
	@include x-rem(margin, 0 0 47px 0);
	.data-post {
		font-family: $M300;
		color: $text;
		text-align: center;
		float: left;
		@include x-rem(font-size, 40px);
		@include x-rem(width, 197px);
		@include x-rem(padding, 20px 0 0);
		span {
			@include x-rem(font-size, 25px);
			position: relative;
			top: -0.5em;
			left: -1px;
			@include x-rem(margin, 0 0 0 8px);
			@include x-rem(left, -5px);
		}
		& + .overlay {
			@include x-rem(max-width, 865px);
		}
	}
	img {
		@include x-rem(max-width, 249px);
		@include x-rem(margin, 0 44px 0 0);
		float: left;
	}
	.section-name {
		font-family: $M500;
		@include x-rem(font-size, 12px);
		color: $grey;
		@include x-rem(margin, 8px 0 15px 0);
	}
	a {
		font-family: $M700;
		@include x-rem(font-size, 20px);
		color: $text;
		font-weight: normal;
		transition: color 0.3s ease;
		@include x-rem(margin, 0 0 21px 0);
		display: inline-block;
		width: 100%;
		@include x-rem(line-height, 26px);
	}
	p {
		font-family: $M300;
		@include x-rem(font-size, 16px);
		color: $text;
		line-height: 1.5;
		@include x-rem(letter-spacing, 0.65px);
		a {
			font-family: $M300;
			color: $blue;
			@include x-rem(font-size, 16px);
			display: inline;
			transition: color 0.3s ease;
		}
	}
}
.pagination {
	text-align: center;
	font-size: 0;
	@include x-rem(margin, 15px 0 0);
	.pagin-item {
		@include x-rem(width, 35px);
		@include x-rem(height, 35px);
		display: inline-block;
		font-family: $M300;
		@include x-rem(font-size, 16px);
		@include x-rem(line-height, 33px);
		color: $text;
		border-radius: 100%;
		border: 1px solid rgba(0,0,0,.3);
		@include x-rem(margin, 0 10px);
		transition: all 0.3s ease;
		&:hover {
			color: $pLink;
			border-color: $pLink;
		}
		&.active {
			color: $text;
			border-color: $blue;
			background-color: $blue;
		}
	}
}
.menu {
	max-width: 1158px;
	width: 100%;
	height: 50px;
	position: fixed;
	margin: 0 auto;
	height: 0;
	z-index: 5;
	top: 45px;
	.menu-btn {
		width: 50px;
		height: 50px;
		border: 1px solid rgba(0,0,0,.3);
		float: right;
		border-radius: 100%;
		cursor: pointer;
		opacity: 0;		visibility: hidden;
		transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
		transform: scale(0.5);
		span {
			width: 22px;
			height: 2px;
			background-color: $text;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: -7px;
				width: 100%;
				height: 2px;
				background-color: $text;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -7px;
				width: 100%;
				height: 2px;
				background-color: $text;
			}
		}
	}
	&.is-active {
		.menu-btn {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
			
	}
}
.menu__wrapper {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 370px;
	background-color: $yellow;
	z-index: 15;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	&.is-active {
		transform: translateX(0%);
	}
	.tooper {
		text-align: right;
		padding: 54px 38px 54px 75px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		.phone {
			display: inline-block;
			font-family: $M300;
			font-size: 16px;
			color: $text;
			letter-spacing: 0.6px;
		}
	}
	.close__menu {
		position: absolute;
		top: 47px;
		left: 41px;
		width: 32px;
		height: 32px;
		display: block;
		background-image: url(../img/icons/close-menu.png);
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.menu__case {
		bottom: 0;
		margin: 78px 0 0;
		overflow-y: auto;
		position: absolute;
		right: 0;
		top: 0;
		transition: transform 0.3s ease 0s;
		width: 100%;
		z-index: 15;
	}
	.navi__container {
		height: 100%;
		min-height: 730px;
		padding: 182px 0 113px 38px;
		@include rh(800) {
			padding: 60px 0 113px 38px;
			min-height: 590px;
		}
		position: relative;
		.navigation {
			li {
				margin-bottom: 25px;
				a {
					font-family: $M500;
					font-size: 30px;
					color: $text;
					// padding: 1px 0;
					letter-spacing: 0.4px;
					display: inline-block;
					width: 100%;
					span {
						border-bottom: 1px solid transparent;
					}
					&.active {
						span {
							border-color: $text;
						}
					}
				}
			}
		}
		.menu__footer {
			bottom: 84px;
			height: 28px;
			left: 22px;
			position: absolute;
			right: 0;
			@include rh(800) {
				bottom: 30px;
			}
			.social {
				float: left;
				margin-top: 0;
				.social-item {
					width: 28px;
					height: 28px;
					margin-left: 16px;
					.icon {
						path {
							fill: $text;
						}
					}
				}
			}
		}
	}
}