<!doctype html>
<html>
<head>
	<title>4-0blog</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=1024">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="js/common.js"></script>
</head>
<body>
<div class="viewport">
	<div class="out">
		<header class="header">
			<div class="l">
				<a href="" class="logo"></a>
				<div class="language">
					<a href="" class="language-item active">Рус</a>
					<a href="" class="language-item">Eng</a>
					<a href="" class="language-item">Бел</a>
				</div>
				<div class="overlay">
					<nav class="nav">
						<ul class="nav-header">
							<li><a class="active" href="">Главная</a></li>
							<li><a href="">Концепция</a></li>
							<li><a href="">Услуги</a></li>
							<li><a href="">Галерея</a></li>
							<li><a href="">Блог</a></li>
							<li><a href="">Партнёры</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="menu">
					<button class="menu-btn" type="button">
						<span></span>
					</button>
				</div>
			</div>
		</header>
		<section class="wrapper">
			<div class="l">
				<div class="title">Блог</div>
				<div class="grid">
					<div class="grid-nav">
						<a href="" class="button btn-filter is-active" >все посты</a>
						<a href="" class="button btn-filter">Дизайн и архитектура</a>
						<a href="" class="button btn-filter">Эргономика</a>
						<a href="" class="button btn-filter">мировые тренды</a>
						<a href="" class="button btn-filter">наша жизнь</a>
					</div>
					<div class="grid-layout">
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">21<span>/03</span></div>
								<div class="overlay">
									<div class="overlay">
										<div class="section-name">Дизайн и архитектура</div>
										<a href="">Влияние шума на работоспособность и здоровье</a>
										<p>При этом, специфика данной проблемы в каждом офисе своя. Проектирование комфортной с точки зрения шумоизоляции обстановки требует знания. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">19<span>/03</span></div>
								<div class="overlay">
									<img src="img/blog/blog.jpg" alt="">
									<div class="overlay">
										<div class="section-name">Мировые тренды</div>
										<a href="">Подборка трендов #29</a>
										<p>Мы постоянно изучаем новинки в области гибкого дизайна для того, чтобы разрабатывать для Вас эффективное и живое офисное пространство, которое не похоже на дугие. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">19<span>/03</span></div>
								<div class="overlay">
									<img src="img/blog/blog.jpg" alt="">
									<div class="overlay">
										<div class="section-name">Дизайн и архитектура</div>
										<a href="">Чтобы чувствовать себя комфортно и работать с полной отдачей, нужно, чтобы освещение было качественным.</a>
										<p>При этом, специфика данной проблемы в каждом офисе своя. Проектирование комфортной с точки зрения шумоизоляции обстановки требует знания. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">21<span>/03</span></div>
								<div class="overlay">
									<div class="overlay">
										<div class="section-name">Дизайн и архитектура</div>
										<a href="">Влияние шума на работоспособность и здоровье</a>
										<p>При этом, специфика данной проблемы в каждом офисе своя. Проектирование комфортной с точки зрения шумоизоляции обстановки требует знания. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">19<span>/03</span></div>
								<div class="overlay">
									<img src="img/blog/blog.jpg" alt="">
									<div class="overlay">
										<div class="section-name">Мировые тренды</div>
										<a href="">Подборка трендов #29</a>
										<p>Мы постоянно изучаем новинки в области гибкого дизайна для того, чтобы разрабатывать для Вас эффективное и живое офисное пространство, которое не похоже на дугие. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-row">
							<div class="article-item">
								<div class="data-post">19<span>/03</span></div>
								<div class="overlay">
									<img src="img/blog/blog.jpg" alt="">
									<div class="overlay">
										<div class="section-name">Дизайн и архитектура</div>
										<a href="">Чтобы чувствовать себя комфортно и работать с полной отдачей, нужно, чтобы освещение было качественным.</a>
										<p>При этом, специфика данной проблемы в каждом офисе своя. Проектирование комфортной с точки зрения шумоизоляции обстановки требует знания. <a href="">Читать далее...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="pagination">
							<a href="" class="pagin-item active">1</a>
							<a href="" class="pagin-item">2</a>
							<a href="" class="pagin-item">3</a>
							<a href="" class="pagin-item">4</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="push"></div>
	</div>
	<footer class="footer">
		<div class="l">
			<div class="copyright">© 2015 HAPPY OFFICE</div>
			<!-- <div class="developer">Made in <a href="flxmd.by" rel="nofollow" target="_blank" class="flex">Flex Media</a></div> -->
			<div class="social">
				<a href="" class="social-item">
					<div class="icon icon-fb">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15c8.3,0,15-6.7,15-15	S23.3,0,15,0z M19,8h-3v4h3v3h-3v10h-3V15h-2v-3h2c0,0,0-2.4,0-5c0-1.7,2-2,2-2h4V8z"/></svg>
					</div>
				</a>
				<a href="" class="social-item">
					<div class="icon icon-pt">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15c0,6.2,3.8,11.5,9.2,13.8c0,0-0.1,0-0.1,0
						S8.8,27,9.9,23.2c1.1-3.7,1.5-6.1,1.5-6.1s-1-2.1-0.3-4c0.6-1.9,2-2.5,3.1-2.2c1.1,0.3,2,1,1.3,4c-0.6,3-1.9,4.5-0.2,5.9
						c1.7,1.3,4.2-0.4,4.9-1.7c0.6-1.3,2.1-4,1.1-7.5c-1-3.6-5-4.1-6.3-4c-1.2,0-4.8,0.6-6.4,4.1c-1.6,3.6-0.1,6,0.4,6.4
						c0,0-0.2,2-0.5,2.1c-0.4,0.1-4.7-1.2-3.4-7.7c0.6-3,3-5.4,5.7-6.6c2-0.9,4.3-0.9,5.9-0.8c3.8,0.4,9,3.3,8.3,10.1
						c-0.7,6.8-5.8,8.8-7.3,8.7c-1.2-0.1-2.9,0.1-4.3-1.8c-0.2-0.3-0.8,3-0.8,3s-1.4,4-1.9,4.2c0,0-0.1,0-0.1,0
						c1.3,0.4,2.8,0.6,4.2,0.6c8.3,0,15-6.7,15-15C30,6.7,23.3,0,15,0z"/></svg>
				</div>
				</a>
				<a href="" class="social-item">
					<div class="icon icon-ig">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M20,10h2V8h-2V10z M15,18c1.7,0,3-1.3,3-3c0-1.7-1.3-3-3-3
						c-1.7,0-3,1.3-3,3C12,16.7,13.3,18,15,18z M15,0C6.7,0,0,6.7,0,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C30,6.7,23.3,0,15,0z
						 M24,22c0,1.1-0.9,2-2,2H8c-1.1,0-2-0.9-2-2V8c0-1.1,0.9-2,2-2h14c1.1,0,2,0.9,2,2V22z M15,20c-5.8,0-5-7-5-7H8v7.8
						C8,21.5,8.5,22,9.1,22h11.8c0.6,0,1.1-0.5,1.1-1.2V13h-2C20,13,20.8,20,15,20z"/></svg>
					</div>
				</a>
				<a href="" class="social-item">
					<div class="icon icon-lk">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15
						C30,6.7,23.3,0,15,0z M11,21H8V11h3V21z M9.5,10C8.7,10,8,9.2,8,8.5C8,7.8,8.7,7,9.5,7S11,7.8,11,8.5C11,9.2,10.3,10,9.5,10z
		 				M23,21l-3,0v-6c0,0-0.5-1-2-1c-1.5,0-2,1-2,1v6l-3,0V11h3.4v1.4c0,0,0.5-1.4,3.2-1.4c3.2,0,3.4,3.3,3.4,3.3V21z"/></svg>
					</div>
				</a>
			</div>
			<div class="overlay">
				<div class="callback" data-popup="callbacks"><span><i class="icon"></i>Обратный звонок</span></div>
			</div>
		</div>
	</footer>
</div>
<div class="menu__wrapper">
	<div class="menu__wrapper-area">
		<!-- <div class="tooper">
			<a href="" class="phone">+375 29 662-61-22</a>
		</div> -->
		<div class="menu__case">
			<div class="navi__container">
				<ul class="navigation">
					<li><a href=""><span>Главная</span></a></li>
					<li><a href=""><span>Концепция</span></a></li>
					<li><a href=""><span>Услуги</span></a></li>
					<li><a href=""><span>Галерея</span></a></li>
					<li><a href=""><span>Блог</span></a></li>
					<li><a href=""><span>Партнёры</span></a></li>
					<li><a class="active" href=""><span>Контакты</span></a></li>
				</ul>
				<div class="menu__footer">
					<div class="social">
						<a href="" class="social-item">
							<div class="icon icon-fb">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15c8.3,0,15-6.7,15-15	S23.3,0,15,0z M19,8h-3v4h3v3h-3v10h-3V15h-2v-3h2c0,0,0-2.4,0-5c0-1.7,2-2,2-2h4V8z"/></svg>
							</div>
						</a>
						<a href="" class="social-item">
							<div class="icon icon-pt">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15c0,6.2,3.8,11.5,9.2,13.8c0,0-0.1,0-0.1,0
								S8.8,27,9.9,23.2c1.1-3.7,1.5-6.1,1.5-6.1s-1-2.1-0.3-4c0.6-1.9,2-2.5,3.1-2.2c1.1,0.3,2,1,1.3,4c-0.6,3-1.9,4.5-0.2,5.9
								c1.7,1.3,4.2-0.4,4.9-1.7c0.6-1.3,2.1-4,1.1-7.5c-1-3.6-5-4.1-6.3-4c-1.2,0-4.8,0.6-6.4,4.1c-1.6,3.6-0.1,6,0.4,6.4
								c0,0-0.2,2-0.5,2.1c-0.4,0.1-4.7-1.2-3.4-7.7c0.6-3,3-5.4,5.7-6.6c2-0.9,4.3-0.9,5.9-0.8c3.8,0.4,9,3.3,8.3,10.1
								c-0.7,6.8-5.8,8.8-7.3,8.7c-1.2-0.1-2.9,0.1-4.3-1.8c-0.2-0.3-0.8,3-0.8,3s-1.4,4-1.9,4.2c0,0-0.1,0-0.1,0
								c1.3,0.4,2.8,0.6,4.2,0.6c8.3,0,15-6.7,15-15C30,6.7,23.3,0,15,0z"/></svg>
						</div>
						</a>
						<a href="" class="social-item">
							<div class="icon icon-ig">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M20,10h2V8h-2V10z M15,18c1.7,0,3-1.3,3-3c0-1.7-1.3-3-3-3
								c-1.7,0-3,1.3-3,3C12,16.7,13.3,18,15,18z M15,0C6.7,0,0,6.7,0,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C30,6.7,23.3,0,15,0z
								 M24,22c0,1.1-0.9,2-2,2H8c-1.1,0-2-0.9-2-2V8c0-1.1,0.9-2,2-2h14c1.1,0,2,0.9,2,2V22z M15,20c-5.8,0-5-7-5-7H8v7.8
								C8,21.5,8.5,22,9.1,22h11.8c0.6,0,1.1-0.5,1.1-1.2V13h-2C20,13,20.8,20,15,20z"/></svg>
							</div>
						</a>
						<a href="" class="social-item">
							<div class="icon icon-lk">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path fill-rule="evenodd" clip-rule="evenodd" d="M15,0C6.7,0,0,6.7,0,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15
								C30,6.7,23.3,0,15,0z M11,21H8V11h3V21z M9.5,10C8.7,10,8,9.2,8,8.5C8,7.8,8.7,7,9.5,7S11,7.8,11,8.5C11,9.2,10.3,10,9.5,10z
				 				M23,21l-3,0v-6c0,0-0.5-1-2-1c-1.5,0-2,1-2,1v6l-3,0V11h3.4v1.4c0,0,0.5-1.4,3.2-1.4c3.2,0,3.4,3.3,3.4,3.3V21z"/></svg>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="close__menu"></button>
	</div>
</div>
<div class="popup__wrap feedback">
	<div class="popup is-open">
		<div class="popup-container">
			<div class="popup__title">Форма обратной связи</div>
			<div class="form">
				<form action="" class="js-validate popups">
					<div class="field">
						<div class="field__title">Ваше имя<sup>*</sup></div>
						<div class="field__body">
							<input type="text" data-validation="length" data-validation-length="min2" data-validation-error-msg="Некорректные данные">
						</div>
					</div>
					<div class="field">
						<div class="field__title">Телефон</div>
						<div class="field__body">
							<input type="text">
						</div>
					</div>
					<div class="field">
						<div class="field__title">E-mail<sup>*</sup></div>
						<div class="field__body">
							<input type="text" data-validation="email" data-validation-error-msg="Некорректные данные">
						</div>
					</div>
					<div class="field">
						<div class="field__title">Сообщение<sup>*</sup></div>
						<div class="field__body">
							<textarea name="" cols="30" rows="10" data-validation="length" data-validation-length="min2" data-validation-error-msg="Некорректные данные"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<p><sup>*</sup> — обязательные поля для заполнения</p>
						</div>
					</div>
					<div class="field">
						<button class="callback" type="submit">
							<span>Отправить</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="popup__close">
			<span></span>
		</div>
	</div>
	<div class="popup success">
		<div class="popup-container">
			<div class="popup__title">Спасибо!</div>
			<div class="success__area">Наш менеджер свяжется с вами <br> в ближайшее время.</div>
		</div>
		<div class="popup__close">
			<span></span>
		</div>
	</div>
</div>
<div class="popup__wrap callbacks">
	<div class="popup is-open">
		<div class="popup-container">
			<div class="popup__title">Обратный звонок</div>
			<div class="form">
				<form action="" class="js-validate popups">
					<div class="field">
						<div class="field__title">Ваше имя<sup>*</sup></div>
						<div class="field__body">
							<input type="text" data-validation="length" data-validation-length="min2" data-validation-error-msg="Некорректные данные">
						</div>
					</div>
					<div class="field">
						<div class="field__title">Телефон<sup>*</sup></div>
						<div class="field__body">
							<input type="text" data-validation="length" data-validation-length="5-19" data-validation-error-msg="Некорректные данные">
						</div>
					</div>
					<div class="field">
						<div class="field__title">Сообщение</div>
						<div class="field__body">
							<textarea name="" cols="30" rows="10"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<p><sup>*</sup> — обязательные поля для заполнения</p>
						</div>
					</div>
					<div class="field">
						<button class="callback" type="submit">
							<span>Отправить</span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="popup__close">
			<span></span>
		</div>
	</div>
	<div class="popup success">
		<div class="popup-container">
			<div class="popup__title">Спасибо!</div>
			<div class="success__area">Наш менеджер свяжется с вами <br> в ближайшее время.</div>
		</div>
		<div class="popup__close">
			<span></span>
		</div>
	</div>
</div>
</body>
</html>